body {
    background-color: #e0f7fa;
    color: #333;
    font-family: 'Arial', sans-serif;
    background: none;
}

header {
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
